SQLAlchemy==0.9.8
Scrapy==0.24.4
psycopg2==2.5.4
cryptography>=41.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
twisted>=22.10.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
